<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">       
		<link rel="shortcut icon" href="{{ url_for('static', filename='key.png') }}">
        <title>OpenGUISSL</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style2.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
        
    </head>
    <body>
        <header>	 
            <div class="menu">
                    <a href="{{ url_for('index') }}" >PÁGINA INICIAL</a>
                    <a href="{{ url_for('cifrarFicheiro') }}">CIFRAR FICHEIRO</a>
                    <a href="{{ url_for('gerarChaves') }}">GERAR PALAVRA-PASSE</a>
                    <a href="{{ url_for('calcHash') }}" class="active">CÁLCULO DE HASH</a>
                    <a href="{{ url_for('calcHMAC') }}">CÁLCULO DE HMAC</a>
                    <a href="{{ url_for('genRSAkeys') }}">GERAR CHAVE RSA</a>
                    <a href="{{ url_for('signFile') }}">ASSINATURA DIGITAL</a>
            </div>	
        </header>
        <section>
            <h2>OpenGUISSL</h2>
            <h3>Calcular Hash de um Ficheiro</h3>
            <hr>
            <form method=post enctype=multipart/form-data>
                <p>
                    <span>Nome do algoritmo: </span>
                    <select name="selHashAlg">
                        {% for HashAlg in get_HashAlgorithms() %}
                        <option value="{{HashAlg['value']}}" {% if (selHashAlg=="HashAlg['value']" ) %}selected{% endif %}>{{HashAlg['name']}}</option>
                        {% endfor %}
                    </select>
                </p>
                <p>
                    <span style="font-size: small;">Ficheiro a Calcular o Hash: </span>
                    <input type=file name=file {% if file %} value="{{ file }}" {% endif %} required>
                </p>
                <p>
                    <span>Marque para salvar arquivo, desmarque para visualizar no browser: </span>
                    <input type=checkbox name=downloadFic value="downloadFic">
                </p> 
                <p>
                    <input type=submit value=Executar>
                </p>               
            </form>
            {% if error %}
                <p class=error>
                <strong>Error:</strong> {{ error }}</p>
            {% endif %}
            {% for message in get_flashed_messages() %}
                <div class=flash>{{ message }}</div>
            {% endfor %}
        </section>
    </body>
</html>